@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
:root {
  --text: #212122;
  --bg: #fffdf6;
  --accent:#499254;
  --highlight:#c3da2e;
  --underlay:#dae5961c;
  --mobileMenu:#499254ba;
  --light:  #c3da2e2a;
  --photoZoom: #fffdf661;
  --border: 1.5px;
  --margin: 70px;
  --default_padding: 30px;
  --imgOpacity: 100%;
  --menuWidth: 23vw;
}
html[data-theme='dark'] {
  --bg: #000000;
  --text: #b5b6be;
  --accent:#499254;
  --highlight:#499254;
  --underlay:#f6f7ff0a;
  --mobileMenu:#499254ba;
  --light: #c3da2e;
  --photoZoom: #000000e0;
  --border: 0.5px;
  --margin: 70px;
  --default_padding: 30px;
  --imgOpacity: 100%;
  --menuWidth: 23vw;
}
html[data-theme='light'] {
  --text: #212122;
  --bg: #fffdf6;
  --accent:#499254;
  --highlight:#c3da2e;
  --underlay:#dae59635;
  --mobileMenu:#499254ba;
  --light:  #c3da2e2a;
  --photoZoom: #fffdf661;
  --border: 1px;
  --margin: 70px;
  --default_padding: 30px;
  --imgOpacity: 100%;
  --menuWidth: 23vw;
}
* {
  box-sizing: border-box;
  /* border: #c3da2e 0.1px solid; */
  font-family: 'Inter Tight', sans-serif;
}
body{
  margin: 0;
  padding:0;
  background-color: var(--bg);
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
  color: var(--text);
}
::selection {
  background-color: var(--highlight);
  color: var(--text);
}
h1{
  font-weight:500;
  font-size: 34px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
h2{
  font-weight:500;
  font-size: 28px;
  margin: var(--default_padding) 0 0 0;
}
h3{
  font-weight:500;
  font-size: 18px;
  margin: 0 0 0 0;
}
h4{
  font-weight: 300;
  font-size: 18px;
  margin: 0 0 0 0;
  /* same size as para, different margin */
}
.h4bold{
  font-weight: 500;
}
/* h5{
  font-weight:100;
  font-size: 12px;
  margin: 6px 0 0 0;
  opacity: 70%;
} */
p {
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 0 0;
}
.small_p{
  font-weight: 300;
  font-size: 13px;
  margin: 0 0 var(--default_padding) 0;
}
h5{
  font-weight: 300;
  font-size: 13px;
  margin: 5px 0 var(--default_padding) 0;
}
a{
  all: unset;
}
a:hover{
  background-color: var(--highlight);
  cursor: pointer;
}
img{
  opacity: var(--imgOpacity);
}
ul{
  all:unset;
  list-style-type: square;
}
li a{
  text-decoration: underline;
}
#coverImg{
  width:100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  object-fit: cover;
  z-index: -2;
}
#page{
  margin:0;
  padding: 0;
}
#menu{
  position: fixed;
  top:0;
  left:0;
  width: var(--menuWidth);
  height: 100vh;
  padding: var(--default_padding) calc(var(--margin)) var(--default_padding) var(--default_padding); /* if you change this, change width of #footer as well */
  /* z-index: 2; */
  background-color: var(--underlay);
  color: var(--accent);
}
#menu a:hover{
  background-color: transparent;
}
#menu h1:hover ,h2:hover{
  font-weight: 700;
  word-spacing: 2px;
  background-color: transparent;
}
#menu p:hover{
  font-weight: 500;
  background-color: transparent;
}
#footer{
  position: absolute;
  bottom: var(--default_padding);
  height: fit-content;
  width: calc(var(--menuWidth) - 2*var(--margin));
  /* justify-content: space-between; */
  display: flex;
  flex-direction: column;
  gap:10px;
}
#footer .small_p{
  margin: 0 !important;
}
#content{
  margin-left: var(--menuWidth); /* based on width of the menu so they are next to each other*/
  width: calc(100vw - var(--menuWidth));
  height: fit-content;
  padding: calc(1.5*var(--margin)) var(--margin);
  overflow-y: scroll;
}
#projectIndex {
  padding-left: var(--default_padding);
}
#projectIndex p{
  margin-top: 10px;
}
.logos{
  width: 35px;
  height:35px;
  margin-right: 18px;
  object-fit: cover;
}
.logos path{
  fill: var(--accent);
}
.logos:hover path{
  fill: var(--highlight);
  cursor: pointer;
}
.bg{
  background-color: var(--underlay);
}
.fakeLink:hover{
  color: var(--highlight);
  cursor: pointer;
}
.fakeLinkActive{
  color: var(--highlight);
  text-decoration: underline;
}
.flex{
  display: flex;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
#activePage{
  color: var(--highlight);
}
.underline{
  text-decoration: underline;
}
.noBgCol{
  background-color: transparent !important;
}
#portfolioLogo{
  display: none;
  max-width: 80px;
  max-height:80px;
  margin: 0 var(--default_padding) 0 0;
  padding: 5px;
  object-fit: cover;
}
#portfolioLogo path{
  fill: var(--accent);
}
#portfolioLogo:hover path{
  fill: var(--highlight);
  cursor: pointer;
}
#test{
  width: 100%;
  height: 100%;
  background-color: var(--underlay);
}
button{
  all:unset;
}
#theme-toggle{
  width:55px;
  height:fit-content;
  position: fixed;
  top:0;
  right:40px;
  margin-top: -35px; /*change in main.js too*/
  z-index: 3;
}
#light{
  fill: var(--light)
}
#thumbnails{
  justify-content: space-between;
  width: 85%;
  margin: auto;
  color: var(--text);
}
.thumbnail-wrapper{
  width: 46%;
  height: auto;
  margin-bottom: 35px;
}
.thumbnail-wrapper:hover{
  color: var(--highlight);
  cursor: pointer;
}
.thumbnail-wrapper:hover .thumbnail-img {
  transform: scale(1.1);
}
.thumbnail-img-wrapper{
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: var(--border) solid var(--accent);
  margin-bottom: 10px;
}
.thumbnail-img{
  width: 100%;
  height: 100%;
  /* opacity: 85%; */
  object-fit: cover;
  transition: all .3s ease;
  object-fit: cover;
}
#projectPage{
  display: none;
  width: 100%;
  flex-direction: column;
  gap: var(--default_padding);
}
#arrows{
  width:100%;
  justify-content: space-between;
  /* margin-bottom: var(--default_padding); */
}
#arrows button:hover{
  color: var(--highlight);
  cursor: pointer;
}
#landingImg{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: var(--border) solid var(--accent);
}
.col2{
  padding-top:var(--default_padding);
  height: fit-content;
  justify-content: space-between;
}
#contactDiv{
  margin-right: 20px;
}
#jumpMenu{
  position:fixed;
  top: 0;
  padding: var(--default_padding) 0;
  background-color: var(--bg);
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 2;
  gap: var(--default_padding);
}
#jumpMenu *{
  z-index: 3;
}
#title{
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}
#introText{
  gap: var(--default_padding);
  padding: 0;
}
#brief{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--default_padding);
}
#desc{
  width:100%;
}
#link{
  width: fit-content;
  font-weight:500;
  font-size: 18px;
}
#linkDiv{
  flex-direction: column;
  gap: var(--default_padding);
}
#linkDiv a{
  width: fit-content;
}
.workingContainer{
  display: flex;
  align-items: flex-end;
  gap:var(--default_padding);
  margin-bottom: var(--default_padding);
}
.workingImg{
  flex: 1;
  max-width: calc(70% - var(--default_padding)/2);
  cursor:zoom-in;
}
.workingCaption{
  flex: 1;
  max-width: calc(30% - var(--default_padding)/2);
  height: fit-content;
}
.workingImg{
  width: 100%;
}
#finalImgSection{
  display: flex;
  flex-direction: column;
  gap: var(--default_padding);
  margin-bottom: var(--default_padding);
}
#finalImgSection h3{
  text-align: center;
  /* margin-bottom: var(--default_padding); */
}
/* .sliderBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
} */
.sliderContainer {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin: auto;
}
.slider {
  display: flex;
  /* transition: transform 0.5s ease; */
  height: 100%; /* Ensure the slider takes the full height */
}
.slide {
  min-width: 100%;
}
.slideImg {
  width: 100%;
  object-fit: cover;
  display: block; /* Remove extra space below images */
}
.slideCaption{
  text-align: center;
  margin: 10px 0 0 0;
}
.arrowContainer {
  width:80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.arrow {
  color: var(--text);
  cursor: pointer;
}
.arrow:hover{
  color: var(--highlight);
}
#processImgSection{
  display: flex;
  height: fit-content;
  gap: var(--default_padding);
}
#processImgDiv{
  width: 100%;
}
#mainImgContainer{
  width:100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.mainImg{
  width:100%;
  height: 100%;
  border: var(--border) solid var(--highlight);
}
.mainImg:hover{
  cursor: zoom-in;
}
#processImgContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.processImgWrapper{
  width:47%;
  height: fit-content;
}
.processImg{
  width: 100%;
  height: auto;
  border: var(--border) solid var(--highlight);
  object-fit: cover;
}
.processImg:hover{
  cursor: zoom-in;
}
#processVidContainer{
  margin: 0;
  display: flex;
  gap: var(--default_padding);
}
#video_div, #img_div{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* text-align: right */
}
#vid{
  width:100%;
  display: flex;
  flex-direction: column;
  gap: var(--default_padding);
  height: fit-content;
}
.processVid{
  width: 100%;
  height: 330px;
  border: var(--border) solid var(--highlight);
  background-color: black;
}
#hamburgerIcon{
  display: none;
}
#photoCloseupContainer{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: var(--photoZoom);
  /* backdrop-filter: blur(2px); */
  border: var(--border) solid var(--highlight);
  z-index: 5;
  cursor: zoom-out;
}
#photoCloseupDiv{
  margin: 40px auto 0 auto;
  width:fit-content;
  height: fit-content;

}
#photoCloseupCaption{
  width:fit-content;
  color: var(--text);
}
#photoCloseup{
  height:80vh;
  width:auto;
  margin: 20px 0 0 0;
  object-fit: contain;
}
/* for the click rectangles */
.shapes{
  /* background-color: #b5b6be; */
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  opacity: 60%;
  z-index: -1;
}
.shapes canvas{
  background-color: transparent !important;
} 
/* responsive design */
@media only screen and (max-width: 1200px) {
  :root {
    --margin: 50px;
    --default_padding: 20px;
  }
}

@media only screen and (max-width: 900px) {
  * {
    /* border: #b5b6be 0s.1px solid; */
  }
  html[data-theme='dark'] {
    --margin: 50px;
    --default_padding: 20px;
  }
  html[data-theme='light'] {
    --margin: 50px;
    --default_padding: 20px;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 22px;
    margin: calc(0.7*var(--default_padding)) 0 0 0;
  }
  h3{
    font-size: 14px;
    margin: calc(0.7*var(--default_padding)) 0 0 0;
  }
  h4{
    font-size: 14px;
    margin: calc(0.7*var(--default_padding)) 0 0 0;
  }
  h5{
    font-size: 10px;
  }
  p{
    font-size: 12px;
  }
  #menuContent{
    padding: calc(0.7*var(--margin)) calc(var(--margin)/2) calc(0.7*var(--margin)) calc(0.7*var(--margin));
  }
  #portfolioLogo{
    width: 70px;
    height: 70px;
    margin: 0 calc(0.7*var(--default_padding)) 0 0;
  }
  #thumbnails{
    display: block;
  }
  #introText{
    display: block !important;
    width: 100%;
  }
  .col2{
    display: block !important;
    width: 100%;
  }
  .processVid{
    width: 100%;
    height: 160px;
  }
  #photoCloseup{
    width:80vw;
    object-fit: contain;
  }
  #me{
    margin-top: var(--margin);
  }
  #landingImg{
    height: 250px;
  }
}
@media only screen and (max-width: 500px) {
  * {
    /* border: #499254 0.1px solid; */
  }
  h3{
    font-size: 13px;
  }
  h4{
    font-size: 13px;
  }
  p{
    font-size: 13px;
  }
  #content{
    margin: 0;
    width: 100vw;
  }
  #hamburgerIcon{
    display: block;
    width:50px;
    height:auto;
    position: fixed;
    top:var(--default_padding);
    left:0;
    object-fit: contain;
    z-index: 3;
  }
  #hamburgerIcon:hover rect{
    fill: var(--highlight); 
    cursor: pointer;
  }
  #hamburgerCloseIcon {
    width:50px;
    height:auto;
    object-fit: contain;
    margin-bottom: var(--margin) ;
  }
  #hamburgerCloseIcon rect{
    fill: var(--bg); 
  }
  #hamburgerCloseIcon:hover rect{
    fill: var(--highlight); 
    cursor: pointer;
  } 
  #menu {
    width: 90vw;
    position: fixed;
    display: none;
  }
  #menuContent {
    width: 90vw;
    background-color:var(--accent);
    color: var(--bg);
    display: block;
    position: fixed;
    top:0;
    left: 0;
    z-index: 4;
  }
  #landingImg{
    height: 200px;
  }
  .logos path{
    fill: var(--bg);
  }
  #portfolioLogo path{
    fill: var(--bg);
  }
}