@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
:root {
  --text: #212122;
  --bg: #F6F7FF;
  --accent:#499254;
  --highlight:#c3da2e;
  --underlay:#c3da2e2a;
  --light:  #c3da2e2a;
  --photoZoom: #20292251;
  --border: 1.5px;
  --margin: 5vw;
  --imgOpacity: 100%;
}
html[data-theme='dark'] {
  --bg: #000000;
  --text: #b5b6be;
  --accent:#499254;
  --highlight:#c3da2e;
  --underlay:#f6f7ff0a;
  --light: #c3da2e;
  --photoZoom: #49925424;
  --border: 0.5px;
  --margin: 5vw;
  --imgOpacity: 100%;
}

html[data-theme='light'] {
  --text: #212122;
  --bg: #F6F7FF;
  --accent:#499254;
  --highlight:#c3da2e;
  --underlay:#c3da2e2a;
  --light:  #c3da2e2a;
  --photoZoom: #20292251;
  --border: 1.5px;
  --margin: 5vw;
  --imgOpacity: 100%;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  margin: 0;
  padding:0;
  display: flex;
  background-color: var(--bg);
  color: var(--accent);
}
::selection {
  color: var(--highlight);
}
h1{
  font-weight:700;
  font-size: 40px;
  margin: 0;
}
h2{
  font-weight:700;
  font-size: 32px;
  margin: 10px 0 0 0;
}
h3{
  font-weight:500;
  font-size: 16px;
  margin: 6px 0 0 0;
}
h4{
  font-weight:300;
  font-size: 16px;
  margin: 6px 0 0 0;
}
.h4bold{
  font-weight: 500;
}
p {
  font-weight: 300;
  font-size: 16px;
}
a{
  all: unset;
}
a:hover{
  color: var(--highlight);
  cursor: pointer;
}
img{
  opacity: var(--imgOpacity);
}
#line-through{
  text-decoration:line-through;
}
#wave-underline{
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
#menu{ 
  width: 30vw;
  height: 100%;
  padding: var(--margin) 30px var(--margin) var(--margin);
}
#menuContent{
  position: fixed;
  top:0;
  left:0;
  width: 30vw;
  height: 100vh;
  padding: var(--margin) 30px var(--margin) var(--margin);
  z-index: 2;
  background-color: var(--underlay);
}
.logos{
  width: 35px;
  height:35px;
  margin-right: 18px;
  object-fit: cover;
}
.logos path{
  fill: var(--accent);
}
.logos:hover path{
  fill: var(--highlight);
  cursor: pointer;
}
.bg{
  background-color: var(--underlay);
}
.fakeLink:hover{
  color: var(--highlight);
  cursor: pointer;
}
.fakeLinkActive{
  color: var(--highlight);
  text-decoration: underline;
}
.flex{
  display: flex;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
#activePage{
  color: var(--highlight);
}
.underline{
  text-decoration: underline;
}
#portfolioLogo{
  width: 88px;
  height:88px;
  margin-right: 20px;
  object-fit: cover;
  /* background-color: var(--accent); */
}
#portfolioLogo path{
  fill: var(--accent);
}
#portfolioLogo:hover path{
  fill: var(--highlight);
  cursor: pointer;
}
#socials{
  position: absolute;
  bottom: var(--margin);
}
#socials img{
  width:35px;
  height: 35px;
  margin-right: 18px;
  object-fit: cover;
}
#content{
  width: 70vw;
  height: fit-content;
  background-color: var(--bg);
  padding: var(--margin);
}
#test{
  width: 100%;
  height: 100%;
  background-color: var(--underlay);
}
button{
  all:unset;
}
#theme-toggle{
  width:55px;
  height:fit-content;
  position: fixed;
  top:0;
  right:8px;
  margin-top: -65px;
}
#light{
  fill: var(--light)
}
#projectPage{
  color: var(--text) !important;
}
#arrows{
  width:100%;
  justify-content: space-between;
  margin-bottom: var(--margin);
}
#arrows h1:hover{
  color: var(--highlight);
  cursor: pointer;
}
#landingImg{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: var(--border) solid var(--accent);
}
#pageInfo{
  margin-left:var(--margin);
  height: fit-content;
}
.col2{
  margin-top:calc(var(--margin)/2);
  margin-bottom:calc(var(--margin)/2);
  justify-content: space-between;
}
#brief{
  width: 50%;
}
#title{
  text-transform: uppercase;
}
#desc{
  width: 50%;
}
#roles{
  width: 80%;
}
#link{
  width: fit-content;
}
#processImgSection{
  margin:var(--margin) 0 0 0;
  display: flex;
  height: fit-content;
}
#processImgSection h3{
  width: 35%;
  height: fit-content;
}
#processImgSection div{
  width: 100%;
  height: fit-content;
}
#processImgContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.processImg{
  margin-bottom: 20px;
  width:48.5%;
  height: 100%;
  border: var(--border) solid var(--accent);
  object-fit: cover;
}
.processImg:hover{
  cursor: zoom-in;
}
#processVidContainer{
  margin:var(--margin) 0 0 0;
  justify-content: space-between;
  align-content: space-between;
}
#processVidContainer h3{
  width: 35%;
}
#processVidContainer div{
  width: 100%;
}
.processVid{
  width: 100%;
  height: 330px;
  border: var(--border) solid var(--accent);
  background-color: black;
}
#photoCloseupContainer{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: var(--photoZoom);
  z-index: 3;
  cursor: zoom-out;
}
#photoCloseup{
  width:70vw;
  height:80vh;
  margin: 10vh 15vw;
  object-fit: contain;
}